body {
    min-height: 100vh; 
    margin: 0;
  text-align: center;
  background-color: #19c8e3;
  /* background: linear-gradient(#01091F, #3776FB); */
}

h1 {
  margin: 1em auto;
}

#forecasts {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast {
  width: 140px;
}

#nbDay {
    height: 30px;
}